/* .gridWrapper {
  display: grid;
  grid-template-columns: auto, auto;
  border: solid;
  /* position: absolute; 
} */

/* .cell {
  border: solid;
  text-align: center;
} */

.gridWrapper {
  display: grid;
  grid-template-columns: auto auto;
}

.cell {
  border: solid;
  height: 100%;
  margin-top: 0;
  text-align: center;
}
