.allColumns {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  border: solid;
}

.gridWrapper {
  display: grid;
  grid-template-columns: auto;
}

.cell {
  border: solid;
  margin-top: 0;
  text-align: center;
  height: 3rem;
}

.cellTotal {
  border: solid;
  margin-top: 0;
  text-align: center;
  height: 3rem;
  background-color: lightgreen;
  font-weight: 700;
}

.cellTitle {
  border: solid;
  margin-top: 0;
  text-align: center;
  height: 3rem;
  background-color: lightgoldenrodyellow;
  font-weight: 700;
}
